examples/src/main/resources/
target/
out/
.idea/workspace.xml
.idea/copyright/
.lib/
plugins/
bukkit/
.DS_Store
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.ermine_history

examples/BlockChanger/src/
examples/BlockChangerGold/src/
examples/BanArrows/src/
examples/LightningArrows/src/
examples/MultiPlayerCommands/src/
examples/NoRain/src/
examples/PluginCommander/src/
examples/TreeDelogger/src/
examples/WorldEdit/src/
examples/YellowBrickRoad/src/
examples/ZombieApocalypse/src/
